*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}

.title{
    margin: 10px;
    font-size: 30px;
}

a{
    margin: 10px;
    text-decoration: none;
    color: white;
}