.head-container{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example-card{
    width: 500px;
}

.example-header-image{
    background-size: cover;
}